<section class="hero">
  <div class="container mb-10">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="hero-heading text-white mb-5">{{ 'Blog title' | translate }}</h1>
      </div>
    </div>
  </div>
</section>

<div class="my-5 mx-md-5 mx-3">
  <div class="row">
    <div class="col-12 col-md-9">
      <div *ngFor="let blogPost of blogPageToShow">
        <app-blog-card [blogPost]="blogPost"></app-blog-card>
      </div>
    </div>
    <div class="d-none d-sm-block d-sm-none d-md-block col-md-3">
      <app-blog-recent-posts></app-blog-recent-posts>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col text-center d-flex justify-content-center">
      <button class="button-pagination" (click)="previousPage()"><</button>
      <div *ngFor="let blogPageNumber of blogPages" class="mx-3">
        <a [routerLink]="['page/' + blogPageNumber]">{{blogPageNumber}}</a>
      </div>
      <button class="button-pagination" (click)="nextPage()">></button>
    </div>

  </div>
</div>
